<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Evènement</title>

        <div th:insert="include/lib :: libImport"></div>

        <script th:src="@{/js/vueProfile.js}" ></script>

    </head>


    <body>
        <!--MENU-->
             <div th:include="include/nav :: navMenu"></div>

        <!--Les evenements -->

        <main class="container">
            <header class="title">Profile</header>

           <input type="hidden" id="idValue" th:value="${session.pseudo}" />
           <div class="row" >
                Invitations Evènements
             </div>


        </main>

    </body>






</html>